.error {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5vh;
  width: 100vw;
  height: 81.5vh;
  background-color: rgba(198, 112, 54, 0.09);
  padding-top: 10vh;
}

.body p {
  font-size: 1.25rem;
}
